<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
    <body>
      <%- messages('my_message_template', locals) %>
      <h2>Страница пользователя <%= dataF[0].login %></h2><br>
      <ul>
    <li class="quote">
      <span><%= dataF[0].name %></span>
      <span><%= dataF[0].age %></span>
    </li><br><br>
  </ul>
  <div>
    <% let sImg = dataF[0].imgname; %>
    <% if (!sImg || sImg.length == 0) { %>
    <div class="alert alert-success col-sm-2">
      <p class="text-center">"Загрузите картинку"</p>
    </div>
  <%  } else { %>
    <% sImg.forEach(function (file) { %>
      <img src="uploads/<%= file %>" class="img-thumbnail" width="10%">
      <form action="/image/deleteImage/<%= file %>" method="GET">
        <input type="submit" class="btn btn-outline-danger" value="Удалить"/><br><br>
      </form>
  <%  }); %>
<% } %>
</div><br><br>
<div class="alert alert-info col-sm-3">
<form action="/image/loadimage" method="post" enctype="multipart/form-data">
  <input type="file" name="imageFile"/><br><br>
  <input type="hidden" name="_csrf" value= "<%=  csrfToken %>">
  <input type="submit" value="Загрузить"/><br><br>
</form>
</div>

  <form action = "/entrance/logout" method="get">
<input type="submit" value="Выход">
</form>
  </body>
</html>
